<h1>Images#new</h1>
<%= form_with model: @image, id: "imageForm", local: true do |form| %>
  <div id="name" style="margin-bottom: 3px";>
    <%= form.label :name %>
    <%= form.text_field :name, id: "name-form" %>
  </div>
  <div id="name-error"></div>

  <div id="image">
    <%= form.label :image %>
    <%= form.file_field :image, id: "image-form" %>
  </div>
  <div id="image-error"></div>
  <p><%= form.submit "Upload" %></p>
<% end %>

<%= render "new_validation" %>